body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4b0082;
    color: white !important;
}

header {
    background-color: #301934;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

main h1, main p {
    color: white !important;
}

footer {
    background-color: #301934;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.pyramid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pyramid {
    position: relative;
    width: 0;
    height: 0;
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateY(45deg);
}

.pyramid .face {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.9); /* Change this to a solid color */
    border: 1px solid #fff;
    opacity: 0.9;
}

.pyramid .front {
    transform: translateZ(50px);
    background: #ff0000; /* Red */
}

.pyramid .back {
    transform: rotateY(180deg) translateZ(50px);
    background: #00ff00; /* Green */
}

.pyramid .left {
    transform: rotateY(-90deg) translateZ(50px);
    background: #0000ff; /* Blue */
}

.pyramid .right {
    transform: rotateY(90deg) translateZ(50px);
    background: #ffff00; /* Yellow */
}